.title {
    background-color: #33bebe;
    color: white;
    padding-top: 20px;
    padding-left: 20px;
    font-family: helvetica;
    margin-top: 150px;
}

.description {
    color: #7C8B88;
    max-width: 705px;
    font-family: helvetica;
    padding-left: 20px
}


.screenshot {
    max-width: 460px;
    padding-right: 10px;
    padding-top: 20px;
}


.app {
    display: -webkit-flex;
    display: flex;
}